@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  color:#333;
  font-family: 'Roboto', sans-serif;
}


*{
    box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale ;
}

.red-list-type{
  position: relative;
  padding-left: 23px;
}

.red-list-type::before{
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  top:10px;
  left: 0;
  background-color: #B7280F;
}

.taskItem_dropdown::after{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  border-top:1px solid #c4c4c4;
  border-right:1px solid #c4c4c4;
  transform: rotate(-45deg) translate(-50%, -130%);
  
  background-color:white;
  top:0;
  left:55%;
}

.taskItem_dropdown button:disabled svg path {
  fill:#c4c4c4
}

.custom-underline::before{
  content:'';
  position:absolute;
  width:100%;
  height:.5px;
  background-color:#333;
  bottom:0;
}